@font-face {
    font-family: "Lobster";
    src: url('https://static.playtem.com/Fonts/Lobster-Regular.ttf');
}

@font-face {
    font-family: "Arial Black";
    src: url('https://static.playtem.com/Fonts/arial-black.ttf');
}
@font-face {
    font-family: "Decker";
    src: url('https://static.playtem.com/Fonts/Decker.ttf');
}

.ad__header__title {
    font-family: "Lobster", "Arial Black";
    font-size: 17px;
    color: rgb(106, 42, 2);
    text-shadow: 0px 0px 4.44px rgba(255, 255, 104, 0.48);
    top: 7px;
}

.ad__reward__offerMessage {
    font-family: "Arial Black";
    /*font-size: 5px;*/
    font-size: 6px;
    color: rgb(255, 254, 254);
    text-transform: uppercase;
}

.ad__reward__itemTitleBlock {
    font-family: "Arial Black";  
    /*font-size: 5px;*/
    font-size: 6px;
    color: rgb(255, 254, 254);
    text-transform: uppercase;
}

.ad__campaignDescription {
    font-family: "Arial Black";
    /*font-size: 7px;*/
    font-size: 8px;
    color: rgb(255, 255, 255);
}