.btn-large {
    width: 100px;
    height: 40px;
}

.iframe {
    display: block;
    border: 1px solid blue;
} 

.iframe-desktop {
    width: 755px;
    height: 555px;
}

.iframe-mobile {
    width: 255px;
    height: 255px;
}