.btn-large {
    width: 100px;
    height: 40px;
}

.iframeXXX {
    display: block;
    border: 1px solid blue;
} 

.iframeXXX-desktop {
    width: 755px;
    height: 555px;
}

.iframe-mobile {
    width: 255px;
    height: 255px;
}

.u-hidden {
    display: none;
}