<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IsCool video</title>

    <link rel="stylesheet" href="../css/iscool/style.css"/>
</head>
<body>
    <div class="ad">
        <!-- title-->
        <h1 id="js-headerTitle" class="ad__header__title u-verticalAlignText">Congratulations</h1>
        <img class="js-closeAd ad__imgClose" src="//static.playtem.com/templates/IsCool/750x550/cross-close.png"/>

        <!-- discover Message block-->
        <div class="ad__discoverMessageBlock u-verticalAlignText">
            <div class="ad__discoverMessageWrapper">
                <span class="ad__discoverMessage__brandName">Our partner</span>
                <span id="js-discoverMessage">invites you to discover</span>
            </div>
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <script type="text/javascript" src="../_source/playtemEmbeddedApp.js"></script>

    <script type="text/javascript">
        var playtemApp = new playtemEmbedded.App({
            hasReward: false,
            providers: [playtemEmbedded.PlaytemVastPlayer, playtemEmbedded.Affiz, playtemEmbedded.Spotx],
            apiKey: "452c-8a80i",
            outputLanguage : "en-US",
            gameType: "desktop",
            debug: false,
            placementType: "rewardedVideo"
        });

        playtemApp.execute();
    </script>
</body>
</html>