<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ActiplayNoReward outstream</title>

    <link rel="stylesheet" href="css/actiplayNoReward/style.css"/>
</head>
<body>
    <div class="ad">
        <!-- title-->
        <h1 id="js-headerTitle" class="ad__header__title u-verticalAlignText">Congratulations</h1>
        <img class="js-closeAd ad__imgClose" src="//static.playtem.com/templates/Actiplay/750x550/cross-close.png"/>

        <!-- discover Message block-->
        <div class="ad__discoverMessageBlock u-verticalAlignText">
            <div class="ad__discoverMessageWrapper">
                <span class="ad__discoverMessage__brandName">Our partner</span>
                <span id="js-discoverMessage">invites you to discover</span>
            </div>
        </div>
    </div>

    <img src="//api.playtem.com/tracker.gif?a=IframeCreated&c=&p=TagProvider&k=4f63-b20df&t=" width="0" height="0" style="position:absolute; visibility:hidden;"/>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <script type="text/javascript" src="../_source/playtemEmbeddedApp.js?16"></script>
    <script type="text/javascript" src="js/applicationProviders.js?16"></script>

    <script type="text/javascript">
        var playtemApp = new playtemEmbedded.App({
            hasReward: false,
            providers: providers["outstream"]["4f63-b20df"],
            apiKey: "4f63-b20df",
            outputLanguage : "en-US",
            gameType: "desktop",
            debug: false,
            placementType: "outstream"
        });

        playtemApp.execute();
    </script>
</body>
</html>
