<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mediastay outstream</title>

    <link rel="stylesheet" href="css/genericReward/style.css"/>
</head>
<body>
    <div class="ad">
        <!-- title-->
        <h1 id="js-headerTitle" class="ad__header__title u-verticalAlignText">Congratulations</h1>
        <img class="js-closeAd ad__imgClose" src="//static.playtem.com/templates/Generic_with_reward_desktop/750x550/cross-close.png"/>

        <!-- reward block-->
        <div class="ad__reward__offerMessageBlock">
            <div class="ad__reward__offerMessage u-verticalAlignText">
                <div>
                    <span class="ad__reward__offerMessage__brandName"></span>
                    <span id="js-rewardOfferingMessage"></span>
                </div>
            </div>
        </div>

        <div class="ad__rewardImageBlock">
            <img id="rewardImageUri" class="ad__reward__image" src="img/pixel.png" alt="" />
            <div class="ad__reward__itemTitleBlock">
                <div class="ad__reward__itemTitle u-verticalAlignText">
                    <span id="rewardName"></span>
                </div>
            </div>
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <script type="text/javascript" src="../_source/playtemEmbeddedApp.js?1"></script>
    <script type="text/javascript" src="js/applicationProviders.js?1"></script>

    <script type="text/javascript">
        var playtemApp = new playtemEmbedded.App({
            hasReward: true,
            providers: providers["outstream"]["e048-4cdev"],
            apiKey: "e048-4cdev",
            outputLanguage : "en-US",
            gameType: "desktop",
            debug: false,
            placementType: "outstream"
        });

        playtemApp.execute();
    </script>
</body>
</html>
